In [1]:
import pandas as pd
import random
import numpy as np

In [9]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vRCneqeupUDDN37wG0tErpqjqHxbY94mj6gF4X9d3b1bc4dBCj55AIuUid5JXIyvHL3jNthZm-V_N_i/pub?gid=0&single=true&output=csv")
df = df.replace(np.nan, '', regex=True)
df

,Question_No,Type,Note,AssignedNo1,AssignedNo2,AssignedNo3,CompletedBy
0,1,Base,,,,,
1,2,Base,Planets Edited Out in Stars Class,,,,Nathaniel
2,3,Radiation,Removed from Stars Class,,,,
3,4,Base,,,,,Aarya
4,5,Radiation,Included in Stars FInal,,,,
5,6,Base,,,,,Nathaniel
6,7,Base,,,,,
7,8,Base,,,,,Martine
8,9,Radiation,Included in Stars FInal,,,,
9,10,Base,,,,,
10,11,Base,,,,,
11,12,Radiation,Included in Stars FInal,,,,
12,13,Radiation,Removed from Stars Class,,,,
13,14,Base,Removed from Stars Class,,,,
14,15,Base,Removed from Stars Class,,,,
15,16,Base,Removed from Stars Class,,,,
16,17,Base,Removed from Stars Class,,,,Harrison
17,18,Base,,,,,
18,19,Base,,,,,
19,20,Base,,,,,
20,21,StarsClass,,,,,
21,22,StarsClass,,,,,
22,23,StarsClass,,,,,
23,24,StarsClass,,,,,
24,25,StarsClass,,,,,Bethany

In [10]:
# Personalized Details
aarya_df = df[(df['Type']=='Base') | (df['Type']=='Radiation')]
bethany_df = df.loc[[0,1,3,4,5,6,7,8,9,10,11,17,18,19,20,21,22,23,24]]
harrison_df = df[(df['Type']=='Base')]
martine_df = df[(df['Type']=='Base')]
nathaniel_df = df[(df['Type']=='Base') | (df['Type']=='Radiation')]

def GenerateQ (df,personalized_df,name):
  
    # Remove questions that have already been completed
    notcompleted_df = personalized_df[~personalized_df["CompletedBy"].str.contains(name)]
    
    col =  ['AssignedNo1','AssignedNo2','AssignedNo3'] 
    
    # Choose questions not currently being done by someone else    
    notcompleted_notassigned_df = notcompleted_df[(df[col[0]].str.len() == 0) & (df[col[1]].str.len() == 0) & (df[col[2]].str.len() == 0)]
    
    # Pick 3 random values
    assigned_index = random.sample(range(0, len(notcompleted_notassigned_df)), 3)

    # Pick from available questions using random values
    assigned_question = notcompleted_notassigned_df['Question_No'].iloc[assigned_index]
    
    # Assign Questions 
    for question,column in zip(assigned_question,col):
               
        df[column][df['Question_No'] == question] = name

                
                
GenerateQ(df,aarya_df,"Aarya")
GenerateQ(df,bethany_df,"Bethany")
GenerateQ(df,harrison_df,"Harrison")
GenerateQ(df,martine_df,"Martine")
GenerateQ(df,nathaniel_df,"Nathaniel")
df

C:\Users\Betha\anaconda3\lib\site-packages\ipykernel_launcher.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()
C:\Users\Betha\anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Question_No,Type,Note,AssignedNo1,AssignedNo2,AssignedNo3,CompletedBy
0,1,Base,,,Aarya,,
1,2,Base,Planets Edited Out in Stars Class,,,Aarya,Nathaniel
2,3,Radiation,Removed from Stars Class,Nathaniel,,,
3,4,Base,,Harrison,,,Aarya
4,5,Radiation,Included in Stars FInal,Aarya,,,
5,6,Base,,Bethany,,,Nathaniel
6,7,Base,,,,,
7,8,Base,,,Harrison,,Martine
8,9,Radiation,Included in Stars FInal,,,,
9,10,Base,,,,,
10,11,Base,,,,Harrison,
11,12,Radiation,Included in Stars FInal,,,,
12,13,Radiation,Removed from Stars Class,,,Nathaniel,
13,14,Base,Removed from Stars Class,,Nathaniel,,
14,15,Base,Removed from Stars Class,,,,
15,16,Base,Removed from Stars Class,,,,
16,17,Base,Removed from Stars Class,Martine,,,Harrison
17,18,Base,,,,,
18,19,Base,,,Martine,,
19,20,Base,,,,Martine,
20,21,StarsClass,,,,,
21,22,StarsClass,,,Bethany,,
22,23,StarsClass,,,,Bethany,
23,24,StarsClass,,,,,
24,25,StarsClass,,,,,Bethany